h1,h2,h3,p{
    text-align: center;
}

#buttons{
    display: flex;
    justify-content: center;
}


#scores{
    height: 10%;
    width: 50%;
    display: flex;
    justify-content: center;
    
    margin-left: 25%;
}

#you{
    margin-left: 20%;
    width: 20%;
    
    
}

#pc{
    margin-right: 20%;
    width: 20%;
    
    
}

img{
    height: 200px;
    width: 200px;
    
    border-radius: 10px;
    
}



#image{
    display: flex;
    justify-content: center;
    gap: 10%;
    
}

p{
    font-size: 24px;
}

h3,button{
    font-size: 25px;
}

button{
    width: 10%;
}

h2{
    font-size: 30px;
}

#buttons{
    gap:5%;
}

h2{
    height: 25px;
}

body{
    padding: 0;
    
}
